<footer class="page-footer">
  <div class="page-footer__column">
    <h3>Contacto</h3>
    <p>ismael.sayas@pragma.com.co, Av. Siempre viva. Springfield, USA, (507)60412347.</p>
    <p> ipsum dolor sit amet.
    </p>
  </div>
  <div class="page-footer__column">
    <h3>Términos</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua.
    </p>
  </div>
  <div class="page-footer__column">
    <h3>Redes sociales</h3>
    <ul class="page-footer__list">
      <li>
        <a href="https://www.facebook.com/" target="_blank">Facebook</a>
      </li>
      <li>
        <a href="https://twitter.com/?lang=en" target="_blank">Twitter</a>
      </li>
      <li>
        <a href="https://www.youtube.com/" target="_blank">YouTube</a>
      </li>
    </ul>
  </div>
  <div class="page-footer__column">
    <h3>Derechos</h3>
    <p>Ismael Sayas Arrieta. © 2018</p>
  </div>
</footer>