<header class="pages-header">
  <div class="pages-header__title-box">
    <h1 class="pages-header__title">Test Sass</h1>
  </div>
  <nav class="pages-header__main-navbar">
    <a routerLink="/home" routerLinkActive="pages-header__link--active" class="pages-header__link">Home</a>
    <a (click)="goToPortraitsGallery()" routerLinkActive="pages-header__link--active" class="pages-header__link">Portraits</a>
    <a (click)="goToLandscapesGallery()" routerLinkActive="pages-header__link--active" class="pages-header__link">Landscapes</a>
  </nav>
</header>