@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
$header-color: #5b7989;
$footer-color: #C6d5c5;
$home-secundary-color: #d5c75f;
$home-primary-color: #82c3a6;
$font-family-dancing-scrip: 'Dancing Script',
cursive;
$shadow-color: #363636;
$default-box-shadow: 2px 2px 10px $shadow-color;
$default-border-radius: 7px;